*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(80, 172, 202); 
    background-image: linear-gradient(rgb(80,172,202)
    , rgb(103, 222, 103));
    
}
.row {
    display: flex;
    

  }
  
  
  .column {
    flex: 25%;
    padding: 1px;
   
   
   
   
  }
  /* .row{
    height:300px;
    width:300px;
    display: flex;
    }
    
    .column {
    height:100%;
    width:100%;
    object-fit:cover;
    } */
  .column:hover {
    -ms-transform: scale (1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
